<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Agora, <%= @user.name %>!</h1>
    <p>To visit the site follow this link: <%= link_to root_url, root_url %>.</p>
    <p><%= link_to "Agora", root_url %>, 2012.</p>
  </body>
</html>
